<section class="wrap_contacto">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="dev_servicio">
					<h2><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></h2>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form_box">
					<h3>ESCRÍBENOS <span class="glyphicon glyphicon-send" aria-hidden="true"></span></h3>
					<form>
			 			<label>Nombre</label>
				    <input type="text" class="form-control" placeholder="Ingresa tu nombre" required="" />
				    <br />
				    <label>Correo</label>
				    <input type="email" class="form-control" placeholder="Ingresa tu correo" required="" />
				    <br />
				    <label>Mensaje</label>
				    <textarea class="form-control" placeholder="Ingresa tu mensaje" required=""></textarea>
				    <hr />
				    <a class="btn btn_enviar">Enviar <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
				    <a class="btn btn_cancelar" routerLink="/lugares">Cancelar</a>
					</form>
				</div>
			</div>
		</div>

	</div>
</section>