<section class="wrap_contacto">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="dev_servicio">
					<div class="img_logo"><img src="../../assets/logo.png"></div>
				</div>
				<div class="color_white text-center">
					<h3>CONTACTANOS</h3><br>
					<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 01 - 5558 7785 </p>
					<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> contacto@dev.com</p>
					<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> La Victoria - Lima | Perú </p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form_box">
					<h3>ESCRÍBENOS <span class="glyphicon glyphicon-send" aria-hidden="true"></span></h3>
					<form>
			 			<label>Nombre</label>
				    <input type="text" class="form-control" placeholder="Ingresa tu nombre" required="" />
				    <br />
				    <label>Correo</label>
				    <input type="email" class="form-control" placeholder="Ingresa tu correo" required="" />
				    <br />
				    <label>Mensaje</label>
				    <textarea class="form-control" placeholder="Ingresa tu mensaje" required=""></textarea>
				    <hr />
				    <a class="btn btn_enviar">Enviar <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
				    <a class="btn btn_cancelar" routerLink="/lugares">Cancelar</a>
					</form>
				</div>
			</div>
		</div>

	</div>
</section>