<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr>
<!--CUADRADO ANIMADO-->
<!-- <div id="cuadrado" [@contenedorAnimable]="state" (@contenedorAnimable.start)="animacionInicia($event)" (@contenedorAnimable.done)="animacionTermina($event)"></div>
<a class="btn btn-default" (click)="animar()">Animar!</a> -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <a class="btn btn-primary" routerLink="/crear/new">Crear Nuevo Negocio</a>
      <br><br>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">  
          <li class="list-group-item">
            <!--Estrella destacado-->
            <span class="glyphicon glyphicon-star pull-right star-icon" *ngIf="lugar.plan == 'pagado'"></span>

            <a routerLink="/crear/{{lugar.id}}"><h3>{{lugar.nombre | uppercase}}</h3></a>
            <small>Creado: {{lugar.id | date:'shortTime' | uppercase}}</small>
            <br>
            <p [innerHtml]="lugar.descripcion | Linkifystr"></p>
          </li>
        </ng-container>
      </ul> 
    </div>
    <div class="col-md-4" [@contenedorAnimable]="state">
      <h2>Destacados</h2>
      <ng-container *ngFor="let lugar of lugares">  
          <div class="bg-warning espacio" *ngIf="lugar.plan == 'pagado'">
            <a routerLink="/crear/{{lugar.id}}"><h3>{{lugar.nombre | uppercase}}</h3></a>
            <p [innerHtml]="lugar.descripcion | Linkifystr"></p>
          </div>
        </ng-container>
    </div>
  </div>
</div>